

main {
    flex: 1; /* Allow the main content to grow and take up the available space */
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.contact-link {
    color: #228b22; /* Darker color for the links in the address */
    text-decoration: none;
}

.contact-link:hover {
    text-decoration: underline; /* Underline on hover */
}

